<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'ADMIN/adminindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="ADD_HOD">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <th scope="col">SI no </th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">email  </th>
      <th scope="col">Ph.no</th>
      <th scope="col">&nbsp;</th>
    </tr>
    {% for i in val2 %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{i['name']}}</td>
      <td>{{i['Dept_name']}}</td>
      <td>{{i['emailid']}}</td>
      <td>{{i['ph_no']}}</td>
      <td><p><a href="HODedit?id={{i['hid']}}"  class="btn btn-success">edit</a></p>
      <p><a href="deletehod?id={{i['lid']}}"  class="btn btn-danger">delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="6" scope="row"><label>
      <input type="submit" name="Submit" value="Add"  class="btn btn-success"/>
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}