<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'ADMIN/adminindex.html'%}
{% block body %}
<body>
<form id="form6" name="form6" method="post" action=" editexamcell">
  <table width="245" border="1" class="table table-striped">
    <tr>
      <th width="169" scope="col">Staff name </th>
      <th width="60" scope="col"> <label>
        <input type="text" name="textfield" required value="{{v['name']}}"/>
        </label>
      </th>
    </tr>
    <tr>
      <th scope="row">Department</th>
      <td><label>
        <select name="select">
         {% for i in val7 %}
          <option value="{{i['dept_id']}}">{{i['Dept_name']}}</option>
           {% endfor %}
        </select>
      </label>      </td>
    </tr>
<tr>
      <th colspan="2" scope="row"> <label>
        <input type="submit" name="Submit" value="ADD"  class="btn btn-success"/>
        </label>
      </th>
    </tr>
  </table>
</form>
</body>




<!--</html>-->
{% endblock %}