<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'EXAM CELL/examindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="423" border="1" class="table table-striped">
    <!--<tr>-->
      <!--<th colspan="4" scope="col">Dept-->
        <!--<label>-->
        <!--<select name="select">-->
           <!--{% for i in val %}-->
          <!--<option value="{{i['dept_id']}}" {% if d|string == i['dept_id']|string %}selected{% endif %}>{{i['Dept_name']}}</option>-->
           <!--{% endfor %}-->
        <!--</select>-->
        <!--<input type="submit" name="Submit2" value="search" />-->
      <!--</label></th>-->
    <!--</tr>-->
    <tr>
      <th width="92" >SI.no</th>
      <th width="151" >staff name </th>
      <th width="110" scope="col">Room.no</th>
      <th width="110" scope="col">Department</th>
      <th width="110" scope="col">Date</th>

      <th width="42" scope="col">&nbsp;</th>
    </tr>
    {% for i in val1 %}
    <tr>
      <th >{{loop.index}}</th>
      <td >&nbsp;{{i['name']}}</td>
      <td>&nbsp;{{i['room_no']}}</td>
            <td>{{i['Dept_name']}}</td>
       <td>{{i['date']}}</td>

      <td><p><a href="allotstaffedit?id={{i['allocate_id']}}" class="btn btn-success">edit</a></p>
      <p><a href="dltallotedstaff?id={{i['allocate_id']}}" class="btn btn-danger">delete</a></p></td>
    </tr>
{% endfor %}
    <tr>
      <th colspan="4" scope="row"><label>
      <a href="allotstaff">add new</a>
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}