<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'EXAM CELL/examindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="editimetable">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <th scope="row">Subject</th>
      <td><label>
        <select name="select2">
            {% for i in val1 %}
          <option value="{{i['sub_id']}}">{{i['sub_name']}}</option>
           {% endfor %}
      </select>
      </label></td>
    </tr>
    <tr>
     <th scope="row">Time</th>
       <td><label>
        <select name="select6">
          <option>AN</option>
          <option>FN</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td><label>
      <input type="date" name="textfield4" required value="{{val7['date']}}"/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
      <input type="submit" name="Submit" value="Add" class="btn btn-success"/>
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}