<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'student/stdindex.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="viewallocation">
  <table  border="1" class="table" class="table table-striped">
    <tr>
      <th scope="col">Sl.no</th>
      <th scope="col">Regno</th>
      <th scope="col">Subject</th>
      <th scope="col">Time</th>
      <th scope="col">Date</th>
      <th scope="col">Room.no</th>
      <th scope="col">Seat.no</th>
    </tr>
    {% for i in val1 %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{i['Reg_no']}}</td>
      <td>{{i['sub_name']}}</td>
      <td>{{i['time']}}</td>
      <td>{{i['date']}}</td>
      <td>{{i['room_no']}}</td>
      <td>{{i['seat_no']}}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}