<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'STUDENT/stdindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="viewtimetable">
  <table  border="1"  class="table table-striped">

    <tr>
      <th width="92" scope="row">SI.no</th>
      <td colspan="2">Subject.name</td>
      <td width="74">Time</td>
      <td width="104">Date</td>
    </tr>
       {% for i in val %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td colspan="2">{{i['sub_name']}}</td>
      <td>{{i['time']}}</td>
      <td>{{i['date']}}</td>
    </tr>
        {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}